@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body, input, select, textarea {
    font-family: "Source Code Pro", Helvetica, sans-serif;
}

#banner:after {
    transition-delay: 0.3s;
}

body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../../images/banner.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../../images/banner.jpg");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../../images/banner.jpg");
  background-image: linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../../images/banner.jpg");
}
